* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #00c3ff;
    padding: 0 20px;
}

body{
    background-color: #00c3ff;
}

button#config{
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000; 
}

#config{
    padding-right: 20px;
    background-color: #00c3ff;
}

#config img{
    width: 50px;
    height: 50px;
}

.identificacao{
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    color: white;
    text-align: center;
}

.pessoa{
    align-items: center;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}

.photo{
    width: 70px;
    height: 70px;
}

.back{
    text-decoration: none;
    display: flex;
    justify-content: start;
    margin: 20px ;
    color: #fefefe;
    font-size: larger;

}
.back:hover{
    text-transform: uppercase;
    color: red;
}

body.light-theme {
    background-color: #00c3ff;
    color: black;
}

body.dark-theme {
    background-color: #2c4e58;
    color: black;
}

header.light-theme {
    background-color: #00c3ff;
    color: black;
}

header.dark-theme {
    background-color: #2c4e58;
    color: white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin-top: 20px;
}
