* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #00c3ff;
    padding: 0 20px;
}

body{
    background-color: #00c3ff;
}
#main-header{
    display: flex;;
    align-items: center;
    height: 80px;
    justify-content: center;

}

#perfil{
    display: flex;
    padding-left: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

#perfil img{
    width: 50px;
    height: 50px;
}

#name{
    color: white;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    display: flex;
}
button#config{
    position: fixed;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000; 
}

#config{
    padding-right: 20px;
    background-color: #00c3ff;
    align-items: center;
}

#config img{
    width: 50px;
    height: 50px;
}

#importante{
    align-items: center;
    background-color: yellow;
    height: 60px;
}

#notificacao{
    align-items: center;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

#notificacao img{
    width: 40px;
    height: 40px;
}

#plus{
    align-items: end;
    width: 40px;
    height: 40px;
}

.identificacao{
    align-items: center;
    height: 45px;
    text-align: center;
    padding-top: 15px;
}

.horario, .predio, .notas{
    align-items: center;
    text-align: center;
    box-shadow: none;
    padding-top: 20px;
}

#clock{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

#clock img{
    width: 30px;
    height: 30px;
}

#frequencia{
    align-items: center;
    display: flex;
    justify-content: center;
}

#frequencia img{
    width: 30px;
    height: 30px;
}

#build{
    align-items: center;
    display: flex;
    justify-content: center;
}

#build img{
    width: 30px;
    height: 30px;
}

.friends{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    color: #fefefe;
    font-size: larger;
}
.friends:hover{
    text-transform: uppercase;
    color: red;
}

body.light-theme {
    background-color: #00c3ff;
    color: black;
}

body.dark-theme {
    background-color: #2c4e58;
    color: black;
}

header.light-theme {
    background-color: #00c3ff;
    color: black;
}

header.dark-theme {
    background-color: #2c4e58;
    color: white;
}
#importante.light-theme {
    background-color: yellow;
    color: black;
}

#importante.dark-theme {
    background-color: rgb(150, 150, 76);
    color: white;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin-top: 20px;
}
